@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
body { 
/*  background-color: #f7f7f8; */
/*  background-image: url(../img/black_background_metal-wallpaper-960x640.jpg); */
/*    background-image: url(../img/background.jpg); */
}

.statusbar-overlay {
background: url(../img/1.png) repeat;
background-size: cover;
}
.views {
   overflow:hidden;
/*   FIX TO HIDE TABBAR NOT MESSAGE BAR*/
}


.backgroundRed{
    background: #FF4500;
    transition: all 3s ease-out; 
    /*transition: all 3s ease-in; */
}


.busyCryptingAndSending{
text-align: center;
transition: all 3s ease-out; 
}


.connectionHidden{
  visibility: hidden;
}

#connection {
  background-color: orange;
  color: white;
    text-align: center;
}
/*#connection div {
  background-color: yellow;
  color: white;
    text-align: center;
}*/
#connection.connected {
/*  background-color: black;*/
background-color: transparent;
  color: white;
    text-align: center;

}
/*#connection.connected div {
  background-color: blue;
  color: white;
    text-align: center;
}*/
#connection.disconnected {
  background-color: #FF4500;
  color: white;
  text-align: center;
}
/*#connection.disconnected div {
  background-color: black;
  color: white;
  text-align: center;
}*/

#connection .ion-ios-locked-outline{
  font-size: 12px;
    color: white;
}

/*#pending{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 10px;
padding-top: 4px;
padding-right: 4px;
}*/

.inactieve{
  color:gray;
}


.useroffline {
  white-space: nowrap;
  background:gray;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  margin-left: -15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
/*  max-height: 100%;*/
height: 55px;
width: 4px;
}

.useronline {
  background:green;
    white-space: nowrap;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  margin-left: -15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
/*  max-height: 100%;*/
height: 55px;
width: 4px;
}

.swipeout-actions-left {
font-size: 12px;

}

.popover {
  width: 200px;
  color:red;
}

/* === Lists === */
.list-block {
/*  margin: 35px 0;*/
  font-size: 17px;
}
.list-block ul {
/*  background: #ffffff;*/
    background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

ul {
/*  background: #ffffff;*/
    background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
    text-shadow: 2px 2px 4px #000000;

}
.item-title{
  color:#FFF;
}


.list-block ul:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: transparent;
/*    background-color: #c8c7cc;*/
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}


.list-block ul:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
/*  background-color: transparent;*/
    background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


.list-block .item-link .item-inner {
  padding-right: 35px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 15px) center;
  background-position: calc(100% - 15px) center;
}

.list-block .item-link.list-button {
  padding: 0 15px;
  text-align: center;
/*  color: #007aff;*/
    color:#FF4500;
  display: block;
  line-height: 43px;
}

/* === Search Bar === */
.searchbar {
  height: 44px;
/*  background: #1f2429;*/
/*  background: #35393e;*/

    background: transparent;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #b4b4b4;
  padding: 0 8px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}


.searchbar input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 5px;
  font-family: inherit;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  padding: 0 28px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23939398'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23939398'%20stroke-miterlimit%3D'10'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E");
  -webkit-background-size: 13px 13px;
  background-size: 13px 13px;
/*    opacity: 0.1;*/
}



.modal-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color:white;
}

.modal-title + .modal-text {
  margin-top: 5px;
  color:white;
  
}

.modal-inner {
  padding: 15px;
  border-radius: 7px 7px 0 0;
  position: relative;
 /* background: #1f2429;*/
background: #0f1214; /*donkerder*/
  

}

input.modal-text-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  background: #fff;
  margin: 0;
  margin-top: 15px;
  padding: 0 5px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  
  text-align:center;

  font-family: inherit;
  display: block;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.tiny-green {
    position: relative;
    padding: 3px;

  background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
  background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
  background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
  background-image:linear-gradient(-180deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);

  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Webkit */
  border-radius: 10px;
}

.tiny-green div {

  font-family: arial;
  font-size: 3px;
  color: white;
  text-align: right;
  text-shadow: 0px 0px 2px #000;
  text-indent: 9999px;
  overflow: hidden;

  background-image:-webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, rgb(118,177,1)),color-stop(0.47, rgb(118,177,1)),color-stop(0.48, rgb(102,153,0)),color-stop(1, rgb(102,153,0)));
  background-image:-webkit-linear-gradient(-90deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
  background-image:-moz-linear-gradient(71% 25% -180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
  background-image:linear-gradient(-180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);

  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Webkit */
  border-radius: 10px;
}



.center { 
  text-align:center 
}

.screenprotect
{
   background-color: #000000;
}




.bgblack {
  background: #000000; 
}



.login-screen-title{
/*color: #FFF;*/

}




.badge-red {

  background-color: #ff3b30;
  /*color: #ff3b30;*/
}

.badge-green {

  background-color: #4cd964;
 /* color: #4cd964;*/
}



.backgroundimage {
background: url(../img/1.png) repeat;
background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;

/*  filter: blur(1px);
  -webkit-filter: blur(1px);*/
}

/*.page-content {
   margin-bottom:1px;
}*/


.page{
/*background: url(../img/black_background_metal-wallpaper-1024x1024.jpg);
background-size: cover;*/
/*background-color: #3b424a; /*donkergrijs*/

/*background-color: #373e46; /*donkergrijs*/

  background-color:transparent;

/*     overflow: auto;
   -webkit-overflow-scrolling: touch;
*/
}




.infotxt { 
/*  intro tekts ruimte links en rechts*/
  margin-left: 15px;
  margin-right: 15px;
  text-align: Justify;
}

.countdown_dashboard { 
  height: 60px; 
color:#fff;
}

.countdown_dashboard .dash {
  height: 22px;
  position: relative;
  float: left;
*zoom:1;
  margin: 0 2px 1em;
  font-size: 22px;
  font-weight: 100;
  line-height: 1;
  text-align: center;

  bottom: -12px;
}

.countdown_dashboard .dash .digit {
  width: 16px;
  text-align: center;
  float: left;
}

.countdown_dashboard .dash span {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -17px;
  border-top: 1px solid #cecece;
  font-size: 8px;
  padding-top: 3px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.mdatesmall {

font-size: 12px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;

}

.loginfails{


font-size: 12px;


}

.lastseen {

font-size: 10px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
color:#494B4D;

}



.hisuidlastseen {

font-size: 8px;
  line-height: 14px;

}


/*.hisnickinfonavbar
 {

font-size: 14px;
  line-height: 14px;

}*/

.navbar .center{
/*  font-size: 16px;*/
  font-weight: 500;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
  -webkit-flex-shrink: 10;
  -ms-flex: 0 10 auto;
  flex-shrink: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
   display: block;

  border: 1px solid #000000;
  border-radius: 10px;
  background: none;
  background-color:#fff;
webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0 15px  0 15px;
  vertical-align:auto;
/*  height: 55px;*/
  color: #000000;
/*  font-size: 20px;
  font-family: inherit;*/
  text-align:center;

/*    text-shadow: 1px 1px 2px #000000;*/

  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);


/*-*/

}


.navbar .center .rotate-hisnick-lastseen{
 width: 100px;
}


i.icon {
    color:#FF4500;
      text-shadow: 2px 2px 4px #000000;

  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
}
i.icon.icon-back {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
i.icon.icon-forward {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
i.icon.icon-bars {
  width: 21px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23007aff'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2ddpx) {
  i.icon.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23007aff'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
    height: 13px;
  }
}
i.icon.icon-camera {
  width: 25px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2025%2020'%3E%3Cpath%20fill%3D'%238C8D92'%20d%3D'M13.3%2C5.5c-2.7%2C0-5%2C2.2-5%2C5s2.2%2C5%2C5%2C5c2.7%2C0%2C5-2.2%2C5-5S16%2C5.5%2C13.3%2C5.5z'%2F%3E%3Cpath%20fill%3D'%238C8D92'%20d%3D'M22.8%2C1.8h-3.3c-0.2-1.3-1-1.8-2-1.8H8.1c-1%2C0-1.8%2C0.4-2%2C1.8H2.8C1.4%2C1.8%2C0%2C2.8%2C0%2C4.2v12.6%20c0%2C1.4%2C1.4%2C2.5%2C2.8%2C2.5h20c1.4%2C0%2C2.2-1.1%2C2.2-2.5V4.2C25%2C2.8%2C24.2%2C1.8%2C22.8%2C1.8z%20M3.5%2C6.4C2.6%2C6.4%2C2%2C5.8%2C2%2C5c0-0.8%2C0.7-1.5%2C1.5-1.5%20S5%2C4.1%2C5%2C5C5%2C5.8%2C4.3%2C6.4%2C3.5%2C6.4z%20M13.3%2C16.8c-3.5%2C0-6.3-2.7-6.3-6.2c0-3.3%2C2.5-6.2%2C5.7-6.2h1.2c3.2%2C0%2C5.7%2C2.9%2C5.7%2C6.2%20C19.6%2C14.1%2C16.7%2C16.8%2C13.3%2C16.8z'%2F%3E%3C%2Fsvg%3E");
}


a{
/*  color: #0099CC;*/
  color: #FFF;

}

.orange{
  color:#FF4500;
/*   background-color: #FF4500;*/
}


li.item-button {
  -webkit-transition-duration: 300ms;

}

li.item-button:active {
  -webkit-transition-duration: 0ms;
  background-color: #d9d9d9;
}
[data-theme="dark"] 

li.item-button:active {
  background-color: #333333;
}






i{
  font-size: 32px;
/*    color:#FF4500;
*/}

/*.item-title {
  color:#FF4500;

}*/

i.ion-volume-high{
  font-size: 17px;

}

.ion-ios-close-outline {
  font-size: 20px;
}

i.ion-ios-gear-outline{
  font-size: 22px;
}

i.ion-ios-settings{
  font-size: 22px;

}

i.ion-ios-eye{
    font-size: 18px;
/*    padding-left: 15px;*/
    padding-right: 6px;

}




.logotje {
/* 
display: block;
 text-indent: -9999px;

    background: url(../img/logo.svg);

 background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZD0iTTQzLjk5NSAxMnYzNS45NTFsLTkuMzg2LTguMDc3Yy0wLjc1LTAuNjQ1LTEuNjgtMC45NjgtMi42MDktMC45NjhzLTEuODU5IDAuMzIzLTIuNjA5IDAuOTY4bC05LjM4NiA4LjA3N3YtMzUuOTUxaDIzLjk5TTQ3Ljk5NSA4aC0zMS45OXY0OC42N2wxNS45OTUtMTMuNzY0IDE1Ljk5NSAxMy43NjR2LTQ4LjY3eiIgZmlsbD0iIzAwMDAwMCIgLz48L3N2Zz4=);
background-size: 32px 32px;*/
/* background-color: #CCCCCC;*/
/*  color: #CCCCCC;*/
/*    width: 32px;
  height: 32px;*/




}
#logotje  {
/*fill: #FFFFFF !important;
stroke:#000000 !important;*/

fill: #FFFFFF !important;
stroke:#000000 !important;


/*background: #373e46;*/
/* background: blue;*/
 /*     -webkit-mask: url(../img/logo.svg) center / contain no-repeat;*/


  }



.logotje1  {
fill: #e15353 !important;
stroke:#000000 !important;
/* background: blue;*/
 /*     -webkit-mask: url(../img/logo.svg) center / contain no-repeat;*/

 }


.logotje2 {
fill: #53b2ab !important;
stroke:#000000 !important;
/* background: blue;*/
 /*     -webkit-mask: url(../img/logo.svg) center / contain no-repeat;*/

 }

.send  {
fill: #e15353 !important;
stroke:#000000 !important;
/* background: blue;*/
 /*     -webkit-mask: url(../img/logo.svg) center / contain no-repeat;*/

 }


.receive {
fill: #53b2ab !important;
stroke:#000000 !important;
/* background: blue;*/
 /*     -webkit-mask: url(../img/logo.svg) center / contain no-repeat;*/

 }


i.ion-ios-chatbubble-outline{
  font-size: 22px;

}

i.ion-volume-mute{
font-size: 36px;

  text-align:center;
  color: #FFF;
}

i.ion-locked{
font-size: 22px;
	
}


i.green{

  color: green;
}

i.red{

  color: red;

}

i.white{

  color: white;

}

i.gray{

  color: gray;

}

/*i.icon-bars{

  font-size: 32px;
  color: #ffffff;

  color:#FF4500;

}
*/


.inactive{color: #666;}



/*ul{
  background:#000000;
  background-color: #000000;
  color:#FFFFFF;
}
*/
/*li{

  background-color: #b2b2b2;
  color:#FFFFFF;
}
*/

.loginbackground{

  background-color:transparent;

}


.view{

   background-color: #1f2429; 

}


.navbar {
/*  background: #373e46;*/
/*  background-color: #373e46;*/
/* background-color: rgb(0,102,75);*/

background: url(../img/1.png) repeat;

background-size: cover;
  display: block;
  color: #fff;


}

.toolbar {
background: url(../img/1.png) repeat;

background-size: Auto 150px;
/*background-size: cover;*/
  display: block;
 opacity: 1;
   text-shadow: 2px 2px 4px #000000;



}


.tabbar {
/*  color: #929292;*/
color:#FF4500;
  z-index: 5001;
}
.tabbar a {
/*  color: #929292;*/
  color:#1f2429;
}
.tabbar a.active {
/*  color: #007aff;*/
    color:#FF4500;

}
.tabbar a.link {
  line-height: 1.4;
}
.tabbar a.tab-link,
.tabbar a.link {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: visible;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.tabbar i.icon {
  height: 36px;

}
.tabbar-labels {
  height: 50px;
}
.tabbar-labels a.tab-link,
.tabbar-labels a.link {
  padding-top: -40px;
  padding-bottom: 4px;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.tabbar-labels a.tab-link i + span,
.tabbar-labels a.link i + span {
  margin: 0;
}
.tabbar-labels span.tabbar-label {
  line-height: 1;
  display: block;
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}



i.ion-code-working{
  font-size: 32px;
  padding-top: 7px;
}

i.ion-android-send{
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
/*  color: #008d02;*/

/*  color: #FFFFFF;*/


}

i.ion-clock{
  font-size: 32px;

}





i.ion-ios-arrow-back{
font-size: 17px;
width:12px;
height:22px

}




i.ion-ios-loop

{
  font-size: 28px;
  padding-top: 3px;
}



i.ion-ios-personadd
{
  font-size: 28px;
 /* padding-top: 3px;*/
}










i.ion-load-a{
  font-size: 16px;

}


i.ion-link{
  font-size: 22px;
/*  color: red;*/
}

/*.badge{
  background-color: #000000;
}
*/


/*.refresh-link.refreshing i.ion-ios-reload {

  background-color: #4cd964;

}*/

i.ion-ios-loop-strong{
  font-size: 24px;
}

/* TAB ICONS*/



i.ion-ios-email-outline{
  font-size: 34px;
}


i.ion-person-stalker{
  font-size: 34px;
}


/*TABS*/

.navbar i.ion-ios-people-outline{
  font-size: 30px;
  color:#FF4500; 
}



i.ion-ios-people-outline{
  font-size: 30px;
  color: #373e46;
}
.active i.ion-ios-people-outline{
  font-size: 30px;
}
i.ion-ios-help-outline{
  font-size: 30px;
    color: #373e46;
}
.active i.ion-ios-help-outline{
  font-size: 30px;
}
i.ion-ios-cog-outline{
  font-size: 30px;
    color: #373e46;
}
.active i.ion-ios-cog-outline{
  font-size: 30px;
}
i.ion-ios-locked-outline{
  font-size: 30px;
    color: #373e46;
}


.active i.ion-ios-locked-outline{
  font-size: 30px;
}

#countdown_dashboardHide{
  width: 500px;
}

i.ion-ios-refresh{
  font-size: 42px;
/*  padding-top: 3px;*/
/*  color: #B40404;
*/
color: #373e46;
}

/*.tabbar-label{

   padding-bottom: 20px; 
}*/

#qrcode {
  text-align:center;
  background-color: #FFFFFF;
  padding-left: 35px;
} 
/* TAB ICONS END*/

 /*NAV ICONS*/
i.ion-ios-personadd-outline
{
  font-size: 22px;
/*  padding-top: 3px;*/
}

i.ion-bug
{
  font-size: 22px;
/*  padding-top: 3px;*/
}

i.ion-ios-camera-outline
{
  font-size: 22px;
/*  padding-top: 3px;*/
}

.navbar i.ion-ios-camera-outline
{
  font-size: 34px;
/*  padding-top: 3px;*/
}

.navbar .sub i.ion-ios-camera-outline{
  font-size: 34px;
  padding-right: 35px;
}



i.ion-ios-camera
{
  font-size: 34px;
/*  padding-top: 3px;*/
}

i.ion-navicon-round{
  font-size: 28px;
/*  color: #ffffff;*/
}




i.ion-android-arrow-back
{
  font-size: 28px;
/*  padding-top: 3px;*/

}

i.ion-android-arrow-forward
{
  font-size: 28px;
/*  padding-top: 3px;*/

}



i.ion-ios-compose-outline{
  font-size: 34px;
/*  padding-right: 35px;*/
}

i.ion-key{
  font-size: 34px;
  padding-right: 35px;
}


i.ion-ios-trash-outline{
  font-size: 34px;
  padding-left: 35px;
}


i.ion-ios-ionic-outline{
  font-size: 28px;
}


i.ion-ios-reload{
  font-size: 28px;
}



/*NAV ICONS END*/


i.ion-ios-locked{
  font-size: 12px;

}



i.ion-ios-checkmark-outline{
  font-size: 12px;
}

i.ion-android-done{

font-size: 12px;
/*color: green;*/
}


i.ion-android-done-all{

font-size: 12px;
/*color: green;*/

}






i.ion-loading-a{
  font-size: 22px;
  color: #fff;
}



.space30px{
  width: 30px;
/*  padding-right: -35px;*/

}















textarea#send {
	width: 260px;
	height: 40px;
	border: 0px solid #cccccc;
	font-family: Tahoma, sans-serif;
	font-size:14px;
	
}

textarea#receive2 {
	width: 260px;
	height: 40px;
	border: 0px solid #cccccc;
	font-family: Tahoma, sans-serif;
	font-size:14px;
	
}




/*
input {

	border: 1px solid #cccccc;

	
}*/

/*.list-block input[type="password"] {

-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: -5px 0 0 10px;
  margin: 0;
  width: 100%;
  height: 38px;
  color: #FFF;

  font-size: 20px;
  font-family: inherit;
  text-align:center;
}*/


.list-block input[type="password"] {

-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: -5px 0 0 10px;
  margin: 0;
  width: 100%;
  height: 38px;
  color: #FFF;
  font-size: 20px;
  font-family: inherit;
  text-align:center;
}

.list-block input[type="text"] {
  color: #FFF;
}

.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 48px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
   background: #FF4500;
  z-index: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}



.box{
	
-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
/*  border: 1px solid #c8c8cd;*/
  margin-left: 20px;
  margin-right: 20px;
/*  border-radius: 7px;*/
  background: none;
/*  background-color:#000;

  -webkit-box-shadow: none;
  box-shadow: none;*/

background-color:#282F34;
  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);

  display: block;
  padding: 1px 0 0 2px;
/*  display: block;
  padding: 5px 0 0 5px;*/
 
  vertical-align:auto;
/*  height: 115px;*/
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-family: inherit;
  text-align:center;
 	
}

.loginbox{
  
-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  border: 1px solid #c8c8cd;*/
  margin-left: 20px;
  margin-right: 20px;
/*  border-radius: 7px;*/
  background: none;
  background-color:#282F34;

/*  -webkit-box-shadow: none;*/
/*  -webkit-box-shadow: 1px 2px 4px 2px #000000 inset;*/

/*  box-shadow: none;*/
/*box-shadow: 1px 2px 4px 2px #000000 inset;*/


-webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.75);
  display: block;
  padding: 1px 0 0 2px;


  vertical-align:auto;
  height: 45px;
/*   height: 55px;*/
  color: #fff;
  font-size: 20px;
  font-family: inherit;
  text-align:center;
  
}

/*.loginbox{
  
-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    border: 1px solid #c8c8cd;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 7px;
  background: none;
  background-color:#000;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 5px 0 0 5px;
  vertical-align:auto;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-family: inherit;
  text-align:center;
  
}*/



.setpass textarea {

-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
 padding: 9px 0 0 5px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #FFF;
  font-size: 17px;
  font-family: inherit;
  text-align:center;
  
}

.setpass select {

-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
 padding: 0 0 0 5px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #FFF;
  font-size: 17px;
  font-family: inherit;
  text-align:center;


  
}

.bugreport select {


  color: #FFF;
  font-size: 17px;

}



.bugreport textarea {

  border: none;
  background: none;

  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  display: block;

 padding: 0 0 0 5px;

  margin: 0;
  width: 100%;
  height: 100px;
  color: #000;
  font-size: 17px;
  font-family: inherit;
background-color: #FFF
}



textarea#uid {

  text-transform: uppercase;
  
}






.center {

text-align:center;

}

.messagessendto2 {
	font-size:12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.messageold{
	font-size:12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	background-color:#FFF;

	padding-left: 5px;
	padding-top: 5px;
}

.messagessendto  {
	font-size:14px;
}

.yourinfo {
	font-size:14px;
	color:#FFF;
/*	padding-bottom: 25px;*/
text-align: center;
padding-top: 20px;
}

.smalluid {
    font-size:8px;
    color:bleu;
    text-align:center;

}



.busy {
  font-size:14px;
  color:#FFF;
/*  padding-bottom: 25px;*/
text-align: center;
/*padding-top: 20px;*/
height: 33px;
}


.navbar i.ion-loading-a{
  font-size: 20px;
  color: #000000;
}

.busynavbar{
  font-size:20px;
  color:#000000;
/*  padding-bottom: 25px;*/
text-align: center;
/*padding-top: 20px;
*/

}

.content-block-title{
	font-size:14px;
	color:#FFF;	
}

.systemstatus {
	font-size:8px;
	text-align:center;
	
/*	color:#0C0;*/
}


.vpnstatus {
  font-size:8px;
  text-align:center;

}

.copyright {
  font-size:10px;
  text-align:center;

}

.sslnoteversion {
  font-size:10px;
  text-align:center;

}

.serveronline {
  font-size:8px;
  text-align:center;
  display: block;

}



.sslnoteapp {
  font-size:14px;
  text-align:center;

}

.UID {
  font-size:14px;
  text-align:center;

}



.white {
	color:#FFF;
}

.logowhite {
  color:#FFF;
  text-shadow: 2px 2px 4px #000000;
}




.green {
  color: #009802;
}

.grey {
  color:#909090;
}

.black {
  color:#000000;
}

.activate {
  font-size:12px;
  text-align:center;
  color: #FFF;
  

}

.item-link{
/*	  color: #0099CC;*/
    color: #FFF;
}




.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 10px 0;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.message-received .message-text {
  padding-left: 10px;
  background-color: #e5e5ea;
  color: #000;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 42% 46% 56%;

}





/*.refresh-link.refreshing i.ion-ios-reload {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*/

.progressicon.refreshing i.ion-ios-reload {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
     display: block;
}



i.ion-load-a{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*.refresh-link.refreshing i.ion-ionic {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}*/


.progressicon.refreshing i.ion-ionic {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
     display: block;
}





@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

  .popover {
      width: 200px;
}

/*  .list-block {
   
      height: :50px;
}
*/


.page.no-toolbar .messagebar ~ .page-content {
  padding-bottom: 84px;
}
.hidden-toolbar .messagebar {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}



.popup-getting-started a.link { -webkit-transition: opacity 300ms; }
.popup-getting-started a.link:active { opacity: 0.3; -webkit-transition-duration: 0; }




div.animate-height div.content-block,
  margin: 0;
  margin-top: 35px;
}
div.animate-height:nth-child(2) {
  max-height: 46px;
}

div.update-view {
  z-index: 99999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
div.update-view img {
  position: absolute; top: 50%; left: 50%; width: 72px; height: 72px; margin-top: -37px; margin-left: -37px; 
}
div.progress-bar {
  position: relative;
  top: 50%;
  margin: 0px auto;
  margin-top: 85px;
  width: 200px;
  height: 2px;
  background-color: #aeaeae;
  border-radius: 1px;
}
div.progress-bar div.inner-progress {
  height: 100%;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width .5s linear;
}

/* my ccs


/* === Message Bar === */
.messagebar {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  height: 85px;


}


.sendbuttonmiddle {

    vertical-align: middle;
    display: table-cell;
    height: 40px;

}


.messagebar textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c8c8cd;
  background: #fff;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  padding: 3px 8px 3px;
  margin: 0;
  width: 100%;
  height: 75px;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  resize: none;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;

}


/*.messagebar {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.messagebar textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c8c8cd;
  background: #fff;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  padding: 3px 8px 3px;
  margin: 0;
  width: 100%;
  height: 28px;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  resize: none;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
}
.messagebar .link {
  -ms-flex-item-align: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.messagebar .link.icon-only:first-child {
  margin-left: -6px;
}
.messagebar .link:not(.icon-only) + textarea {
  margin-left: 8px;
}
.messagebar textarea + .link {
  margin-left: 8px;
}
.messagebar .link {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}
.messagebar ~ .page-content {
  padding-bottom: 44px;
}*/












/* FW7 ccs

/* === Messages === */
.messages-content {

/*  background: #373e46;*/
background: transparent;

}

.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;


}

.messages-date {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  margin: 10px 15px;
  color: #8e8e93;
}
.messages-date span {
  font-weight: 400;
}
.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 10px 0;
  /*max-width: 70%;*/
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.message:first-child {
  margin-top: 10px;
}
.message .message-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 6px 16px 9px;
  min-width: 48px;
  min-height: 35px;
  font-size: 17px;
  line-height: 1.2;
  word-break: break-word;
}
.message.message-pic .message-text {
  padding: 0;
  background: none;
}
.message.message-pic img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 16px;
}
.message-name {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-bottom: 2px;
  margin-top: 7px;
}
.message-hide-name .message-name {
  display: none;
}
.message-label {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-top: 4px;
}
.message-hide-label .message-label {
  display: none;
}
.message-avatar {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  margin-top: -29px;
  position: relative;
  top: 1px;
  background-size: cover;
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.message-hide-avatar .message-avatar {
  opacity: 0;
}
.message-send {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.message-send .message-name {
  margin-right: 16px;
}
.message-send .message-label {
  margin-right: 6px;
}
.message-send.message-with-avatar .message-text {
  margin-right: 29px;
}
.message-send.message-with-avatar .message-name {
  margin-right: 45px;
}
.message-send.message-with-avatar .message-label {
  margin-right: 34px;
}
.message-send .message-text {
  padding-right: 22px;
  background-color: #00d449;
  color: white;
  margin-left: auto;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 56% 46% 42%;
}
.message-send.message-last .message-text,
.message-send.message-with-tail .message-text {
  border-radius: 16px 16px 0 16px;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m96 70c-6-2-12-10-12-19v-16l-14 27s8 8 26 8z'/></svg>") 50% 56% 46% 42%;
}
.message-send.message-last.message-pic img,
.message-send.message-with-tail.message-pic img {
  border-radius: 16px 16px 0 16px;
}
.message-received {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.message-received .message-text {
  padding-left: 22px;
  background-color: #e5e5ea;
  color: #000;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 42% 46% 56%;
}
.message-received .message-name {
  margin-left: 16px;
}
.message-received .message-label {
  margin-left: 6px;
}
.message-received.message-with-avatar .message-text {
  margin-left: 29px;
}
.message-received.message-with-avatar .message-name {
  margin-left: 45px;
}
.message-received.message-with-avatar .message-label {
  margin-left: 34px;
}
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text {
  border-radius: 16px 16px 16px 0;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m0 70c6-2 12-10 12-19v-16l14 27s-8 8-26 8z'/></svg>") 50% 42% 46% 56%;
}
.message-received.message-last.message-pic img,
.message-received.message-with-tail.message-pic img {
  border-radius: 16px 16px 16px 0;
}


.message-appear {
  -webkit-animation: messageAppearFromBottom 400ms;
  animation: messageAppearFromBottom 400ms;
}
.new-messages-first .message-appear {
  -webkit-animation: messageAppearFromTop 400ms;
  animation: messageAppearFromTop 400ms;
}
.messages-auto-layout .message-name,
.messages-auto-layout .message-label {
  display: none;
}
.messages-auto-layout .message-avatar {
  opacity: 0;
}
.messages-auto-layout .message-first .message-name {
  display: block;
}
.messages-auto-layout .message-last .message-avatar {
  opacity: 1;
}
.messages-auto-layout .message-last .message-label {
  display: block;
}
html.retina.ios-6 .message,
html.retina.ios-6 .message.message-pic img {
  -webkit-mask-box-image: none;
  border-radius: 16px;
}
@-webkit-keyframes messageAppearFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromBottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageAppearFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromTop {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

ul{
  
    background: transparent;

}

li{

    background: transparent;
  

}


li.trans{
  background-color: transparent;

}


.blanco{
 background-color: transparent;
    color:transparent;
}


.myuidheader{

  color:#000000;
}


.dotour {
background-color: #FF4500;
list-style: none;
font-size: 14px;
padding-right: 0px;
padding-left: 0px;
color: #FFF;
}

.content-block-inner{

background-color: #FF4500;
/*list-style: none;*/
font-size: 14px;
/*padding-right: 0px;
padding-left: 0px;*/
color: #FFF;

}


i.ion-ios-people-outline.dotour{
font-size: 12px;
}

i.dotour{
font-size: 14px;
width:64px;
height:64px;
padding-right: 0px;
padding-left: 0px;
color: #FFF;
}

.contactrequest {
background-color: #FF4500;
list-style: none;
}



.systemalert {
background-color: red;
list-style: none;
font-size: 12px;
}

.ion-alert-circled{
font-size: 12px;
color: yellow;
}

.systemalerttext {
list-style: none;
font-size: 10px;
}

#navbarpemlogo
{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background: url(../img/pemcircle.svg);
/*  background: url(../img/pemblock.svg);*/
  background-size: 32px 32px;
}

i.logopem64 {
  text-indent: -9999px;
  width: 64px;
  height: 64px;
/*  background: url(../img/pemcircle.svg);*/
  background: url(../img/pemblock.svg);
  background-size: 64px 64px;
}

#logopem512 {
  text-indent: -9999px;
  width: 512px;
  height: 512px;
/*  background: url(../img/pemcircle.svg);*/
  background: url(../img/pemblock.svg);
  background-size: 512px 512px;
}

.busycontactmessagelist{
background-color: #FF4500;
list-style: none;
font-size: 14px;
padding-right: 0px;
padding-left: 0px;
color: #FFF;
}


#showValue{
padding-left: 20px;
padding-right: 10px;
width: 30px;
}

.message-last {
/*  margin-bottom: 8px;*/
  margin-bottom: 44px;
}

#theimage{
  margin-bottom: 44px; /*extra space na inserte foto*/
}
.theimagespace{
  margin-bottom: 44px; /*extra space na inserte foto*/
}

/*.messages{
    margin-bottom: 44px;
}*/
